<!DOCTYPE html>
<html>
<head>
	<%= require('html-loader!./layout/head-common.html') %>
	<title>Result</title>
</head>
<body>

	<%= require('html-loader!./layout/nav-simple.html')%>

	<div class="page-wrap ">
		<div class="w">
			<div class="user-con">
				<div class="err-item">
					<i class="fa fa-minus-circle err-icon"></i>
					<p class="err-msg">Error</p>
				</div>
				<form target="nm_iframe"> 
			 	<div class="form-group">
			 		<input class="form-control" type="text" placeholder="username" id="username"></input>
			 	</div>
			 	<div class="form-group">
			 		<input class="form-control" type="password" placeholder="password" id="password"></input>
			 	</div>
			 	<div class="form-group">
			 		<input class="form-control" type="password" placeholder="password confirm" id="password-confirm"></input>
			 	</div>
			 	<div class="form-group">
			 		<input class="form-control" type="text" placeholder="Email" id="email"></input>
			 	</div>
			 	<div class="form-group">
			 		<input class="form-control" type="phone" placeholder="Phone number" id="phone"></input>
			 	</div>
			 	<div class="form-group">
			 		<input class="form-control" type="text" placeholder="Sercurity question" id="question"></input>
			 	</div>
			 	<div class="form-group">
			 		<input class="form-control" type="text" placeholder="Answer" id="answer"></input>
			 	</div>
			 	<button class="btn btn-primary btn-block" id="submit">Sign Up</button>
			 </form>
			  <iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe> 
			</div>
		</div>
	</div>

	<%= require('html-loader!./layout/footer.html')%>
</body>
</html>