.header .logo{
	position: absolute;
	left:60px;
	top:34px;
	display: block;
	font-size: 36px;
	color: #c60023;
	font-weight: bold;
	text-decoration: none;
}

.header .search-con{
	padding: 40px 0 30px 250px;
}

.header .search-con .search-input{
	width: 550px;
	height: 40px;
	line-height: 40px;
	border:2px solid #c60023;
	outline: none;
	font-size: 15px;
	padding-left:10px; 
}

.header .search-con #search-btn{
	position: absolute;
}