<div class="footer">
	<div class="w">
		<div class="links">
			<a class="link" href="#" target="_blank">github</a>|
			<a class="link" href="https://www.baidu.com" target="_blank">baidu</a>|
			<a class="link" href="https://www.google.com" target="_blank">google</a>
		</div>
	</div>
	<p class="copyright">
		zhuo9529@gmail.com
	</p>
</div>
<script
  src="http://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>